@model WeBringTheParty_.Models.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Login</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <label>Username:</label>
    <input asp-for="Username" />

    <label>Password:</label>
    <input asp-for="Password" type="password" />

    <button type="submit">Login</button>
</form>