@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img src="~/images/balloons.png" alt="Header Logo" class="header-image" />
    <img src="~/images/balloons.png" alt="Header Logo" class="header-image" />
    <img src="~/images/balloons.png" alt="Header Logo" class="header-image" />
    <img src="~/images/balloons.png" alt="Header Logo" class="header-image" />
    <img src="~/images/balloons.png" alt="Header Logo" class="header-image" />
</div>
